@using MaxiKioscos.Web.Comun.Extensiones
@using PagedList.Mvc
@model MaxiKioscos.Web.Models.UsuariosListadoModel

<div id="ListadoContainer" class="table-responsive">
    <table class="table table-striped table-bordered table-hover" id="TableUsuarios">
        <thead>
            <tr>
                <th>Nombre Usuario</th>
                <th>Apellido</th>
                <th>Nombre</th>
                <th>Rol</th>
                <th class="columna-botones"></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var usuario in Model.List)
            {
                <tr>
                    <td>@usuario.NombreUsuario</td>
                    <td>@usuario.Apellido</td>
                    <td>@usuario.Nombre</td>
                    <td>@usuario.Rol.RoleName</td>
                    <td class="text-center">
                        <a class="btn btn-default btn-usuario-detalle" href="@Url.Action("Detalle", new { id = usuario.UsuarioId})"><span class="glyphicon glyphicon-list"></span></a>
                        <a class="btn btn-default btn-usuario-editar" href="@Url.Action("Editar", new { id = usuario.UsuarioId})"><span class="glyphicon glyphicon-edit"></span></a>
                        <a class="btn btn-default btn-usuario-eliminar" href="@Url.Action("Eliminar", new { id = usuario.UsuarioId})"><span class="glyphicon glyphicon-trash"></span></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @Html.PagedListPager(Model.List, page => Url.Action("Index", Model.Filtros.GetRouteValues(page)), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new PagedListRenderOptions()
                                                                                                                                        { DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded}
                                                                                                                                    , new AjaxOptions() { UpdateTargetId = "AdminContainer",
                                                                                                                                                        HttpMethod = "Get",
                                                                                                                                                        InsertionMode = InsertionMode.Replace,
                                                                                                                                                        OnBegin = "maxikioscoSpinner.startSpin",
                                                                                                                                                        OnSuccess = "maxikioscoSpinner.stopSpin",
                                                                                                                                                        OnFailure = "maxikioscoSpinner.stopSpin" }))
</div>
