@model MaxiKioscos.Entidades.Costo

@Html.HiddenFor(model => model.CostoId)
@Html.HiddenFor(model => model.Desincronizado)
@Html.HiddenFor(model => model.Eliminado)
@Html.HiddenFor(model => model.Identifier)

<div class="col-lg-6">
    <div class="form-group">
        @Html.LabelFor(model => model.NroComprobante)
        @Html.DisplayFor(model => model.NroComprobante)
    </div>
    <div class="form-group">
        @Html.Label("Estado")
        @Html.DisplayFor(model => model.Estado)
    </div>
    <div class="form-group">
        @Html.Label("Caregoría")
        @Html.DisplayFor(model => model.CategoriaCosto.Descripcion)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Monto)
        @Html.DisplayFor(model => model.Monto)
    </div>
</div>
<div class="col-lg-6">
    <div class="form-group">
        @Html.LabelFor(model => model.Fecha)
        @Html.DisplayFor(model => model.Fecha)
    </div>
    <div class="form-group">
        @Html.Label("Maxikiosco")
        @Html.DisplayFor(model => model.CierreCaja.MaxiKiosco.Nombre)
    </div>
    <div class="form-group">
        @Html.Label("Usuario")
        @Html.DisplayFor(model => model.CierreCaja.Usuario.NombreUsuario)
    </div>
</div>



