@using MaxiKioscos.Web.Comun.Extensiones
@using PagedList.Mvc
@model MaxiKioscos.Web.Models.ExcepcionRubrosListadoModel
<div id="ListadoContainer"  class="table-responsive">
    <table class="table table-striped table-bordered table-hover" id="TableExcepcionesRubros">
        <thead>
            <tr>
                <th>MaxiKiosco</th>
                <th>Rubro</th>
                <th>Desde</th>
                <th>Hasta</th>
                <th>Recargo Absoluto</th>
                <th>Recargo Porcentaje</th>
                <th class="columna-botones"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var excepcionRubro in Model.List)
            {
                string recargoAbsoluto = string.Format("{0:c2}", excepcionRubro.RecargoAbsoluto);
                string recargoPorcentaje = excepcionRubro.RecargoPorcentaje == null ? string.Empty : string.Format("{0}%", excepcionRubro.RecargoPorcentaje.GetValueOrDefault().ToString("N2"));
                <tr>
                    <td>@Html.DisplayTextFor(model => excepcionRubro.MaxiKiosco.Nombre)</td>
                    <td>@Html.DisplayTextFor(model => excepcionRubro.Rubro.Descripcion)</td>
                    <td>@excepcionRubro.Desde.ToString(@"hh\:mm")</td>
                    <td>@excepcionRubro.Hasta.ToString(@"hh\:mm")</td>
                    <td>@recargoAbsoluto</td>
                    <td>@recargoPorcentaje</td>
                    <td class="text-center">
                        <a class="btn btn-default btn-excepcion-rubro-detalle" href="@Url.Action("Detalle", new { id = excepcionRubro.ExcepcionRubroId })"><span class="glyphicon glyphicon-list"></span></a>
                        <a class="btn btn-default btn-excepcion-rubro-editar" href="@Url.Action("Editar", new { id = excepcionRubro.ExcepcionRubroId })"><span class="glyphicon glyphicon-edit"></span></a>
                        <a class="btn btn-default btn-excepcion-rubro-eliminar" href="@Url.Action("Eliminar", new { id = excepcionRubro.ExcepcionRubroId })"><span class="glyphicon glyphicon-trash"></span></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @Html.PagedListPager(Model.List, page => Url.Action("Index", Model.Filtros.GetRouteValues(page)), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new PagedListRenderOptions() { DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded }
                                                                                                                                    , new AjaxOptions()
                                                                                                                                        {
                                                                                                                                            UpdateTargetId = "AdminContainer",
                                                                                                                                            HttpMethod = "Get",
                                                                                                                                            InsertionMode = InsertionMode.Replace,
                                                                                                                                            OnBegin = "maxikioscoSpinner.startSpin",
                                                                                                                                            OnSuccess = "maxikioscoSpinner.stopSpin",
                                                                                                                                            OnFailure = "maxikioscoSpinner.stopSpin"
                                                                                                                                        }))
</div>
