@using MaxiKioscos.Web.Comun.Extensiones
@using MaxiKioscos.Web.Comun.Helpers
@using MaxiKioscos.Web.Configuration
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/Content/imagenes/favicon.ico">
    <title>@ViewBag.Title</title>


    @Styles.Render("~/Content/bootstrap/css/styles")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/admin/css/styles")
    @Scripts.Render("~/Scripts/lib/modernizr")

</head>
<body>

    <div id="wrapper">

        <!-- /.navbar-static-top -->

        @Html.Partial("_MenuSuperior")

        @Html.Partial("_MenuLateral")

        <div id="page-wrapper">
            <div class="container alert-container"></div>
            <div id="AdminContainer">
                @RenderBody()
            </div>
        </div>
        <!-- /#page-wrapper -->

        <!-- spinner -->
        <div id="loading">
            <div id="loadingcontent">
                <p id="loadingspinner">
                    Procesando...
                </p>
            </div>
        </div>

    </div>
    <!-- /#wrapper -->
    
    @Html.Modal("ReportarErrorModal", ModalSize.Normal)

    @Scripts.Render("~/Scripts/lib/jquery",
                        "~/Scripts/lib/bootstrap",
                        "~/Scripts/lib/globalize/js",
                        "~/Scripts/lib/jqueryval",
                        "~/Scripts/lib/bootstrap/plugins",
                        "~/Scripts/lib/comun",
                        "~/Scripts/app/admin",
                        "~/Scripts/app/maxikisocos-iva.js")

    @RenderSection("scripts", required: false)

    <script>
        $(function () {
            $("input[type=text]").first().focus();
        });
        
        $(function() {
            $('#MaxikioscoDefaultId').select2({ allowClear: true });
            $('#MaxikioscoDefaultId').change(function() {
                dataservice.usuarios.setearMaxikioscoDefaultId($(this).val());
            });

            $('.lnk-logoff').click(function() {
                $(this).closest('form').submit();
            });
        });
        
        //Global objects.
        var maxikiosco =  maxikiosco || { };
            
        maxikiosco.usuarioActual = @MvcHtmlString.Create(JsonHelper.ToJson(UsuarioActual.Usuario));
        maxikiosco.cuenta = @MvcHtmlString.Create(JsonHelper.ToJson(UsuarioActual.Usuario.Cuenta));       

        $(window).bind('beforeunload', function(){
            return 'Al abandonar la página perderán los datos que no hayan sido guardados';
        });
        
    </script>

</body>
</html>
