@using System.Collections.Concurrent
@using MaxiKioscos.Web.Comun.Extensiones
@using MaxiKioscos.Web.Models
@model int?
<div id="EditarCompraProductoModal" class="modal fade " tabindex="-1" role="dialog" aria-labelledby="IngresarCantidadModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @Html.PopupTitulo("Ingrese Cantidad")
            <form id="FrmIngresarCantidad" method="POST" action="#">
                <div class="modal-body">
                    <div id="IngresarCantidadContainer">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.Label("Cantidad", "Cantidad")

                                    @Html.TextBox("CantidadIngresada", string.Empty,
                                    new
                                    {
                                        @class = "form-control autonumeric",
                                        data_a_sep = "",
                                        data_a_dec = ",",
                                        data_val = "true",
                                        data_val_required = "Debe ingresar una cantidad"
                                    })

                                    @Html.ValidationMessage("CantidadIngresada")
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Total Con Iva:</label>
                                    @Html.Display("TotalSinIva", "Currency")
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Total Con Iva:</label>
                                    @Html.Display("TotalConIva", "Currency")
                                </div>
                            </div>
                        </div>
                    </div>

                    @Html.Partial("CamposCostoYPrecio", new IngresarCostoPrecioModel())
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;Ingresar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span>Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>
