@using MaxiKioscos.Web.Configuration
@using MaxiKioscos.Web.Comun.Extensiones;
@using MaxiKioscos.Web.Models
@model MaxiKioscos.Web.Models.ExportacionDescargaModel

<div class="col-lg-12">        
    <div class="form-group">
        @Html.LabelFor(model => model.DescargaTipo)<br />
        <input type="radio" id="radKiosco" value="1" name="DescargaTipo" class="descarga-tipo" @(Model.DescargaTipo == 1 ? "checked" : string.Empty)/><label for="radKiosco" style="font-weight: normal;">&nbsp;Para Kiosco</label><br />
        <input type="radio" id="radCompleta" value="2" name="DescargaTipo" class="descarga-tipo" @(Model.DescargaTipo == 2 ? "checked" : string.Empty)/><label for="radCompleta" style="font-weight: normal;">&nbsp;Completa</label><br />
        <input type="radio" id="radParcial" value="3" name="DescargaTipo" class="descarga-tipo" @(Model.DescargaTipo == 3 ? "checked" : string.Empty)/><label for="radParcial" style="font-weight: normal;">&nbsp;Parcial</label><br />
        <input type="radio" id="radFecha" value="4" name="DescargaTipo" class="descarga-tipo" @(Model.DescargaTipo == 4 ? "checked" : string.Empty)/><label for="radFecha" style="font-weight: normal;">&nbsp;Desde Fecha</label>
    </div>
    <div class="descarga-parcial" style="display: none;">
        <div class="col-lg-6"  style="padding-left: 0;">
            <div class="form-group">
                @Html.LabelFor(model => model.Secuencia)<br />
                @Html.EditorFor(model => model.Secuencia, new { @style = "width: 100px;"})
                @Html.ValidationMessageFor(model => model.Secuencia)
            </div>
        </div>
    </div>
    <div class="descarga-kiosco">
        <div class="col-lg-6" style="padding-left: 0;">
            <div class="form-group">
                @Html.LabelFor(model => model.MaxiKioscoId)<br />
                @Html.EditorFor(model => model.MaxiKioscoId, new { @style = "width: 100px;"})
                @Html.ValidationMessageFor(model => model.MaxiKioscoId)
            </div>
        </div>
    </div>
    <div class="descarga-fecha" style="display: none;">
        <div class="form-group">
            @Html.LabelFor(model => model.Fecha)<br />
            @Html.EditorFor(model => model.Fecha, new { @style = "width: 100px;"})
            @Html.ValidationMessageFor(model => model.Fecha)
        </div>
    </div>
    
    <div style="clear: both;">
        <div class="descarga-nombre" style="display: none; margin: 15px 0;">
            <table>
                <tr>
                    <td style="padding-right: 10px;"><img src="/Content/imagenes/rar.png"></td>
                    <td><span id="span-filename"></span></td>
                </tr>
            </table>
            @Html.HiddenFor(model => model.FileName)
        </div>
        <button type="submit" class="btn btn-default btn-validar"><span class="glyphicon glyphicon-check"></span>&nbsp;&nbsp;Validar</button>
    </div>
</div>