@using MaxiKioscos.Web.Helpers
@model MaxiKioscos.Web.Models.LogImportacionesFiltrosModel
<div>
    @using (Ajax.BeginForm("LogImportacion", null,
                                           new AjaxOptions()
                                               {
                                                   UpdateTargetId = "AdminContainer",
                                                   HttpMethod = "GET",
                                                   InsertionMode = InsertionMode.Replace,
                                                   OnBegin = "maxikioscoSpinner.startSpin",
                                                   OnSuccess = "maxikioscoSpinner.stopSpin",
                                                   OnFailure = "maxikioscoSpinner.stopSpin"
                                               },
                                           new { @class = "form-inline" }))
    {
       
        @Html.LabelFor(model => model.Desde, new { @class = "label-inline" })
        <div class="form-group date-container" style="margin-right: 40px;">
            @Html.EditorFor(model => model.Desde)
        </div>
        @Html.LabelFor(model => model.Hasta, new { @class = "label-inline" })
        <div class="form-group date-container" style="margin-right: 40px;">
            @Html.EditorFor(model => model.Hasta)
        </div>
        
        <div class="form-group" style="margin-right: 40px;">
            @Html.EditorFor(model => model.MaxiKioscoId)
        </div>
        
        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-refresh"></span>&nbsp;&nbsp;Actualizar</button>
    }
</div>
