@using MaxiKioscos.Web.Helpers
@model MaxiKioscos.Web.Models.ProveedoresFiltrosModel
<div>
    @using (Ajax.BeginForm("Listado", null,
                                           new AjaxOptions()
                                               {
                                                   UpdateTargetId = "ListadoContainer",
                                                   HttpMethod = "GET",
                                                   InsertionMode = InsertionMode.Replace,
                                                   OnBegin = "maxikioscoSpinner.startSpin",
                                                   OnSuccess = "maxikioscoSpinner.stopSpin",
                                                   OnFailure = "maxikioscoSpinner.stopSpin"
                                               },
                                           new { @class = "form-inline" }))
    {
        <table>
            <tr>
                <td style="padding-bottom: 10px;">
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.PalabrasABuscar,
                                             new
                                                 {
                                                     @class = "form-control auto-submit-input input-large",
                                                     placeholder = Html.DisplayNameFor(model => model.PalabrasABuscar)
                                                 })
                        @if (!IsAjax)
                        {
                            <text>
                            @section scripts
                            {
                                @Html.SetFocusTo(model => model.PalabrasABuscar)
                            }
                            </text>
                        }
                        else
                        {
                            @Html.SetFocusTo(model => model.PalabrasABuscar)
                        }
                    </div>
                </td>
                <td style="width: 280px; vertical-align: top;">
                    <div class="form-group margin-right-20">
                        @Html.EditorFor(model => model.LocalidadId)
                    </div>
                </td>
                <td style="vertical-align: top;">
                    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-refresh"></span>&nbsp;&nbsp;Actualizar</button>
                </td>
            </tr>
            <tr>
                <td style="padding-bottom: 10px; width: 380px;">
                    <div class="form-group margin-right-20">
                        @Html.TextBoxFor(model => model.CuitNro,
                                             new
                                                 {
                                                     @class = "form-control auto-submit-input",
                                                     placeholder = Html.DisplayNameFor(model => model.CuitNro)
                                                 })
                    </div>
                </td>
                <td style="vertical-align: top;">
                    <div class="form-group margin-right-20">
                        @Html.EditorFor(model => model.TipoCuitId)
                    </div>
                </td>
                <td></td>
            </tr>
        </table>
    }
</div>
