@using MaxiKioscos.Reportes.Enumeraciones
@using MaxiKioscos.Web.Comun.Extensiones
@model MaxiKioscos.Web.Models.ReporteReposicionFiltrosModel
@{
    ViewBag.Title = "Productos por debajo del stock de reposición";
}
@Html.PaginaTitulo("Reporte de Productos por debajo del stock de reposición", "fa-bar-chart-o")
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div id="ButtonsPanel" class="panel-heading">
                <a class="btn btn-default download-report" target="_blank" href="@Url.Action("GenerarProductosParaReponer", new
                                                                                     {
                                                                                         productoId = Model.ProductoId,
                                                                                         maxiKioscoId = Model.MaxiKioscoId,
                                                                                         proveedorId = Model.ProveedorId,
                                                                                         ReporteTipo = ReporteTipoEnum.Pdf
                                                                                     })">
                    <img src="@Url.Content("~/Content/imagenes/adobe-acrobat.png")" /></a>
                <a class="btn btn-default download-report" href="@Url.Action("GenerarProductosParaReponer", new
                                                                     {
                                                                         productoId = Model.ProductoId,
                                                                         maxiKioscoId = Model.MaxiKioscoId,
                                                                         proveedorId = Model.ProveedorId,
                                                                         ReporteTipo = ReporteTipoEnum.Word
                                                                     })">
                    <img src="@Url.Content("~/Content/imagenes/microsoft-word.png")" /></a>
                <a class="btn btn-default download-report" href="@Url.Action("GenerarProductosParaReponer", new
                                                                     {
                                                                         productoId = Model.ProductoId,
                                                                         maxiKioscoId = Model.MaxiKioscoId,
                                                                         proveedorId = Model.ProveedorId,
                                                                         ReporteTipo = ReporteTipoEnum.Excel
                                                                     })">
                    <img src="@Url.Content("~/Content/imagenes/microsoft-excel.png")" /></a>
            </div>
            <div class="panel-body">
                <!-- Area de filtros -->
                <div>
                    @using (Ajax.BeginForm("ProductosParaReponer", null,
                        new AjaxOptions()
                        {
                            UpdateTargetId = "AdminContainer",
                            HttpMethod = "GET",
                            InsertionMode = InsertionMode.Replace,
                            OnBegin = "maxikioscoSpinner.startSpin",
                            OnSuccess = "maxikioscoSpinner.stopSpin",
                            OnFailure = "maxikioscoSpinner.stopSpin"
                        },
                        new {@class = "form-inline", id = "FrmActualizarReporte"}))
                    {
                        @Html.Hidden("ReporteTipo", ReporteTipoEnum.PNG)
                        <div class="form-group">
                            @Html.EditorFor(model => model.MaxiKioscoId)
                        </div>
                        <div class="form-group">
                            @Html.EditorFor(model => model.ProveedorId)
                        </div>
                        <div class="form-group">
                            @Html.EditorFor(model => model.ProductoId)
                        </div>
                        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-refresh"></span>&nbsp;&nbsp;Actualizar</button>
                    }
                </div>
                 @Html.Partial("_ReportLoading")
                <!-- Area de reporte -->
                <div id="ReportContainer">
                    <iframe id="ReporteIframe" onload="window.parent.hideLoading();" style="width: 1000px; height: 400px; margin-top: 10px;display:none"  src="@Url.Action("GenerarProductosParaReponer", new
                                                  {
                                                      productoId = Model.ProductoId,
                                                      maxiKioscoId = Model.MaxiKioscoId,
                                                      proveedorId = Model.ProveedorId,
                                                      ReporteTipo = ReporteTipoEnum.Pdf
                                                  })"/>
                </div>
            </div>
        </div>
    </div>
</div>
@if (!IsAjax)
{
    <text>
    @section scripts
    {
        @Scripts.Render("~/Scripts/app/maxikiosco-reportes.js")
    }
    </text>
}
else
{
    @Scripts.Render("~/Scripts/app/maxikiosco-reportes.js")
}
