@using MaxiKioscos.Reportes.Enumeraciones
@using MaxiKioscos.Web.Comun.Extensiones
@model MaxiKioscos.Web.Models.ReporteStockValorizadoFiltrosModel
@{
    ViewBag.Title = "Stock Valorizado";
}
@Html.PaginaTitulo("Reporte de Stock Valorizado", "fa-bar-chart-o")
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div id="ButtonsPanel" class="panel-heading">
                <a class="btn btn-default download-report" target="_blank" href="@Url.Action("GenerarStockValorizado", new
                                                                                     {
                                                                                         rubroId = Model.RubroId,
                                                                                         maxiKioscoId = Model.MaxiKioscoId,
                                                                                         ReporteTipo = ReporteTipoEnum.Pdf,
                                                                                         Model.MostrarTotalGeneral
                                                                                     })">
                    <img src="@Url.Content("~/Content/imagenes/adobe-acrobat.png")" /></a>
                <a class="btn btn-default download-report" href="@Url.Action("GenerarStockValorizado", new
                                                                     {
                                                                         rubroId = Model.RubroId,
                                                                         maxiKioscoId = Model.MaxiKioscoId,
                                                                         ReporteTipo = ReporteTipoEnum.Word,
                                                                         Model.MostrarTotalGeneral
                                                                     })">
                    <img src="@Url.Content("~/Content/imagenes/microsoft-word.png")" /></a>
                <a class="btn btn-default download-report" href="@Url.Action("GenerarStockValorizado", new
                                                                     {
                                                                         rubroId = Model.RubroId,
                                                                         maxiKioscoId = Model.MaxiKioscoId,
                                                                         ReporteTipo = ReporteTipoEnum.Excel,
                                                                         Model.MostrarTotalGeneral
                                                                     })">
                    <img src="@Url.Content("~/Content/imagenes/microsoft-excel.png")" /></a>
            </div>
            <div class="panel-body">
                <!-- Area de filtros -->
                <div>
                    @using (Ajax.BeginForm("StockValorizado", null,
                        new AjaxOptions()
                        {
                            UpdateTargetId = "AdminContainer",
                            HttpMethod = "GET",
                            InsertionMode = InsertionMode.Replace,
                            OnBegin = "maxikioscoSpinner.startSpin",
                            OnSuccess = "maxikioscoSpinner.stopSpin",
                            OnFailure = "maxikioscoSpinner.stopSpin"
                        },
                        new { @class = "form-inline", id = "FrmActualizarReporte" }))
                    {
                        @Html.Hidden("ReporteTipo", ReporteTipoEnum.PNG)
    
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    @Html.EditorFor(model => model.RubroId)
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    @Html.EditorFor(model => model.MaxiKioscoId)
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    @Html.CheckBoxFor(model => model.MostrarTotalGeneral)
                                    @Html.LabelFor(model => model.MostrarTotalGeneral)
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4">
                                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-refresh"></span>&nbsp;&nbsp;Actualizar</button>
                            </div>
                        </div>
                        
                        
                        <br/>
                    }
                </div>

                @Html.Partial("_ReportLoading")

                <!-- Area de reporte -->
                <div id="ReportContainer">
                    <iframe id="ReporteIframe" onload="window.parent.hideLoading();" style="width: 1000px; height: 400px; margin-top: 10px;display:none" src="@Url.Action("GenerarStockValorizado", new
                                                  {
                                                      rubroId = Model.RubroId,
                                                      maxiKioscoId = Model.MaxiKioscoId,
                                                      ReporteTipo = ReporteTipoEnum.Pdf,
                                                      Model.MostrarTotalGeneral
                                                  })"/>
                </div>
            </div>
        </div>
    </div>
</div>
@if (!IsAjax)
{
    <text>
    @section scripts
    {
        @Scripts.Render("~/Scripts/app/maxikiosco-reportes.js")
        @Scripts.Render("~/Scripts/app/maxikiosco-reporte-ventas-producto.js")
    }
    </text>
}
else
{
    @Scripts.Render("~/Scripts/app/maxikiosco-reportes.js")
    @Scripts.Render("~/Scripts/app/maxikiosco-reporte-ventas-producto.js")
}
