@using MaxiKioscos.Reportes.Enumeraciones
@using MaxiKioscos.Web.Comun.Extensiones
@model MaxiKioscos.Web.Models.RetirosPersonalesPorTicketFiltrosModel
@{
    ViewBag.Title = "Reporte de Ventas Negativas por Ticket";
}
@Html.PaginaTitulo("Reporte de Ventas Negativas por Ticket", "fa-bar-chart-o")
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div id="ButtonsPanel" class="panel-heading">
                <a class="btn btn-default download-report" target="_blank" href="@Url.Action("GenerarVentasNegativasPorTicket", new
                                                                                     {
                                                                                         ReporteTipo = ReporteTipoEnum.Pdf
                                                                                     })">
                    <img src="@Url.Content("~/Content/imagenes/adobe-acrobat.png")" /></a>
                <a class="btn btn-default download-report" href="@Url.Action("GenerarVentasNegativasPorTicket", new
                                                                     {
                                                                         ReporteTipo = ReporteTipoEnum.Word
                                                                     })">
                    <img src="@Url.Content("~/Content/imagenes/microsoft-word.png")" /></a>
                <a class="btn btn-default download-report" href="@Url.Action("GenerarVentasNegativasPorTicket", new
                                                                     {
                                                                         ReporteTipo = ReporteTipoEnum.Excel
                                                                     })">
                    <img src="@Url.Content("~/Content/imagenes/microsoft-excel.png")" /></a>
            </div>
            <div class="panel-body">
                <!-- Area de filtros -->
                <div>
                    @using (Ajax.BeginForm("VentasNegativasPorTicket", null,
                        new AjaxOptions()
                        {
                            UpdateTargetId = "AdminContainer",
                            HttpMethod = "GET",
                            InsertionMode = InsertionMode.Replace,
                            OnBegin = "maxikioscoSpinner.startSpin",
                            OnSuccess = "maxikioscoSpinner.stopSpin",
                            OnFailure = "maxikioscoSpinner.stopSpin"
                        },
                        new { @class = "form-inline", id = "FrmActualizarReporte" }))
                    {
                        @Html.Hidden("ReporteTipo", ReporteTipoEnum.Pdf)
                        <table style="width: 100%;">
                            <tr>
                                <td>
                                    @Html.LabelFor(model => model.UsuarioId, new {@class = "label-inline"})
                                    <div class="form-group" style="margin-left: 10px;">
                                        @Html.EditorFor(model => model.UsuarioId)
                                    </div>
                                </td>
                                <td>
                                    @Html.LabelFor(model => model.Desde, new { @class = "label-inline" })
                                    <div class="form-group date-container">
                                        @Html.EditorFor(model => model.Desde)
                                    </div>
                                </td>
                                <td>
                                    @Html.LabelFor(model => model.Hasta, new { @class = "label-inline" })
                                    <div class="form-group date-container">
                                        @Html.EditorFor(model => model.Hasta)
                                    </div>
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-refresh"></span>&nbsp;&nbsp;Actualizar</button>
                                </td>
                            </tr>
                        </table>
                    }
                </div>

                @*@Html.Partial("_ReportLoading")*@

                <!-- Area de reporte -->
                <div id="ReportContainer">
                    @{
                        var reportUrl = Url.Action("GenerarVentasNegativasPorTicket", new
                                                                               {
                                                                                   Desde = Model.Desde.HasValue ? Model.Desde.Value.ToShortDateString() : null,
                                                                                   Hasta = Model.Hasta.HasValue ? Model.Hasta.Value.ToShortDateString() : null,
                                                                                   UsuarioId = Model.UsuarioId,
                                                                                   ReporteTipo = ReporteTipoEnum.Pdf
                                                                               });
                    }
                    @Html.Partial("_ReportLoading")

                    <iframe id="ReporteIframe" onload=" window.parent.hideLoading(); " style="width: 1000px; height: 400px; margin-top: 10px;display:none" src="@reportUrl" />

                </div>
            </div>
        </div>
    </div>
</div>
@if (!IsAjax)
{
    <text>
    @section scripts
    {
        @Scripts.Render("~/Scripts/app/maxikiosco-reportes.js")
    }
    </text>
}
else
{
    @Scripts.Render("~/Scripts/app/maxikiosco-reportes.js")
}
