@using MaxiKioscos.Reportes.Enumeraciones
@using MaxiKioscos.Web.Comun.Extensiones
@model MaxiKioscos.Web.Models.ReporteVentasFiltrosModel
@{
    ViewBag.Title = "Ventas por Maxikiosco";
}
@Html.PaginaTitulo("Reporte de Ventas por Maxikiosco", "fa-bar-chart-o")
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div id="ButtonsPanel" class="panel-heading">
                <a class="btn btn-default download-report" target="_blank" href="@Url.Action("GenerarVentasPorMaxikiosco", new
                                                                                     {
                                                                                         desde = Model.Desde.HasValue ? Model.Desde.Value.ToShortDateString() : null,
                                                                                         hasta = Model.Hasta.HasValue ? Model.Hasta.Value.ToShortDateString() : null,
                                                                                         ReporteTipo = ReporteTipoEnum.Pdf
                                                                                     })">
                    <img src="@Url.Content("~/Content/imagenes/adobe-acrobat.png")" /></a>
                <a class="btn btn-default download-report" href="@Url.Action("GenerarVentasPorMaxikiosco", new
                                                                     {
                                                                         desde = Model.Desde.HasValue ? Model.Desde.Value.ToShortDateString() : null,
                                                                         hasta = Model.Hasta.HasValue ? Model.Hasta.Value.ToShortDateString() : null,
                                                                         ReporteTipo = ReporteTipoEnum.Word
                                                                     })">
                    <img src="@Url.Content("~/Content/imagenes/microsoft-word.png")" /></a>
                <a class="btn btn-default download-report" href="@Url.Action("GenerarVentasPorMaxikiosco", new
                                                                     {
                                                                         desde = Model.Desde.HasValue ? Model.Desde.Value.ToShortDateString() : null,
                                                                         hasta = Model.Hasta.HasValue ? Model.Hasta.Value.ToShortDateString() : null,
                                                                         ReporteTipo = ReporteTipoEnum.Excel
                                                                     })">
                    <img src="@Url.Content("~/Content/imagenes/microsoft-excel.png")" /></a>
            </div>
            <div class="panel-body">
                <!-- Area de filtros -->
                <div>
                    @using (Ajax.BeginForm("VentasPorMaxikioscos", null,
                        new AjaxOptions()
                        {
                            UpdateTargetId = "AdminContainer",
                            HttpMethod = "GET",
                            InsertionMode = InsertionMode.Replace,
                            OnBegin = "maxikioscoSpinner.startSpin",
                            OnSuccess = "maxikioscoSpinner.stopSpin",
                            OnFailure = "maxikioscoSpinner.stopSpin"
                        },
                        new {@class = "form-inline", id = "FrmActualizarReporte"}))
                    {
                        @Html.Hidden("ReporteTipo", ReporteTipoEnum.PNG)
                        @Html.LabelFor(model => model.Desde, new {@class = "label-inline"})
                        <div class="form-group date-container">
                            @Html.EditorFor(model => model.Desde)
                        </div>
                        @Html.LabelFor(model => model.Hasta, new {@class = "label-inline"})
                        <div class="form-group date-container">
                            @Html.EditorFor(model => model.Hasta)
                        </div>
                        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-refresh"></span>&nbsp;&nbsp;Actualizar</button>
                    }
                </div>


                <!-- Area de reporte -->
                <div id="ReportContainer">
                    <iframe id="ReporteIframe"  style="width: 1000px; height: 400px; margin-top: 10px"  src="@Url.Action("GenerarVentasPorMaxikiosco", new
                                                  {
                                                      desde = Model.Desde.HasValue ? Model.Desde.Value.ToShortDateString() : null,
                                                      hasta = Model.Hasta.HasValue ? Model.Hasta.Value.ToShortDateString() : null,
                                                      ReporteTipo = ReporteTipoEnum.Pdf
                                                  })"/>
                </div>
            </div>
        </div>
    </div>
</div>
@if (!IsAjax)
{
    <text>
    @section scripts
    {
        @Scripts.Render("~/Scripts/app/maxikiosco-reportes.js")
    }
    </text>
}
else
{
    @Scripts.Render("~/Scripts/app/maxikiosco-reportes.js")
}
