@model MaxiKioscos.Entidades.ControlStockDetalle
@Html.HiddenFor(model => model.ControlStockDetalleId)
@Html.HiddenFor(model => model.ControlStockId)
@Html.HiddenFor(model => model.Identifier)
@Html.HiddenFor(model => model.Desincronizado)
@Html.HiddenFor(model => model.Eliminado)
@Html.HiddenFor(model => model.FechaUltimaModificacion)
@Html.Hidden("PrecioPorUnidad", Model.Stock.Producto.PrecioConIVA)

<div class="form-group">
    @Html.Label("MaxiKiosco")
    @Html.DisplayFor(model => model.Stock.MaxiKiosco.Nombre)
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Cantidad)
    @Html.DisplayFor(model => model.Cantidad)
    @Html.HiddenFor(model => model.Cantidad)
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Correccion)<br />
    @Html.EditorFor(model => model.Correccion, new { @min_value = "1"})
    @Html.ValidationMessageFor(model => model.Correccion)
</div>
<div class="form-group">
    @Html.LabelFor(model => model.MotivoCorreccionId)
    @Html.EditorFor(model => model.MotivoCorreccionId)
    @Html.ValidationMessageFor(model => model.MotivoCorreccionId)
</div>

<style>
	#Correccion {
		border: 1px solid #ccc !important;
        border-radius: 4px  !important;
	}
</style>
