@using MaxiKioscos.Entidades
@using MaxiKioscos.Web.Comun.Extensiones
@using PagedList
@using PagedList.Mvc
@model MaxiKioscos.Web.Models.TransferenciasListadoModel

<div id="ListadoContainer" class="table-responsive">
    <table class="table table-striped table-bordered table-hover" id="TableTransferencias">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>AutoNúmero</th>
                <th>Origen</th>
                <th>Destino</th>
                <th>Aprobada</th>
                <th style="width: 250px;"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var transferencia in Model.List)
            {
                <tr>
                    <td>@transferencia.FechaCreacion.ToShortDateString()</td>
                    <td>@transferencia.AutoNumero</td>
                    <td>@transferencia.Origen.Nombre</td>
                    <td>@transferencia.Destino.Nombre</td>
                    <td>@(transferencia.FechaAprobacion == null ? "NO" : "SI")</td>
                    <td class="text-center">
                        <a class="btn btn-default btn-transferencia-detalle" href="@Url.Action("Detalle", new { id = transferencia.TransferenciaId })"><span class="glyphicon glyphicon-list"></span></a>
                        @if (transferencia.FechaAprobacion == null)
                        {
                            <a class="btn btn-default btn-transferencia-editar" href="@Url.Action("Editar", new { id = transferencia.TransferenciaId })"><span class="glyphicon glyphicon-edit"></span></a>
                            <a class="btn btn-default btn-transferencia-eliminar" href="@Url.Action("Eliminar", new {id = transferencia.TransferenciaId})"><span class="glyphicon glyphicon-trash"></span></a>
                            <a class="btn btn-default btn-transferencia-aprobar" href="@Url.Action("Aprobar", new { id = transferencia.TransferenciaId })"><span class="glyphicon glyphicon-ok"></span></a>
                        }
                        <a class="btn btn-default btn-transferencia-imprimir" href="@Url.Action("Imprimir", new { id = transferencia.TransferenciaId })" target="_blank"><span class="glyphicon glyphicon-print"></span></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @Html.PagedListPager(Model.List, page => Url.Action("Index", new { page }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new PagedListRenderOptions() { DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded }
                                                                                                                                 , new AjaxOptions()
                                                                                                                                       {
                                                                                                                                           UpdateTargetId = "AdminContainer",
                                                                                                                                           HttpMethod = "Get",
                                                                                                                                           InsertionMode = InsertionMode.Replace,
                                                                                                                                           OnBegin = "maxikioscoSpinner.startSpin",
                                                                                                                                           OnSuccess = "maxikioscoSpinner.stopSpin",
                                                                                                                                           OnFailure = "maxikioscoSpinner.stopSpin"
                                                                                                                                       }))
</div>