@model MaxiKioscos.Entidades.CategoriaCosto
@Html.HiddenFor(model => model.CategoriaCostoId)
@Html.HiddenFor(model => model.Identifier)
@Html.HiddenFor(model => model.Desincronizado)
@Html.HiddenFor(model => model.Eliminado)

<div class="col-lg-6">
    <div class="form-group">
        @Html.LabelFor(model => model.Descripcion)
        @Html.EditorFor(model => model.Descripcion)
        @Html.ValidationMessageFor(model => model.Descripcion)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PadreId)<br/>
        @Html.EditorFor(model => model.PadreId)
        @Html.ValidationMessageFor(model => model.PadreId)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.OcultarEnDesktop)<br />
        @Html.EditorFor(model => model.OcultarEnDesktop)
        @Html.ValidationMessageFor(model => model.OcultarEnDesktop)
    </div>
</div>


