@model MaxiKioscos.Entidades.CategoriaCosto
@Html.HiddenFor(model => model.CategoriaCostoId)
@Html.HiddenFor(model => model.Identifier)
@Html.HiddenFor(model => model.Desincronizado)
@Html.HiddenFor(model => model.Eliminado)

<div class="col-lg-6">
    <div class="form-group">
        @Html.LabelFor(model => model.Descripcion)
        @Html.DisplayFor(model => model.Descripcion)
        <br/>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PadreNombre)
        @Html.DisplayFor(model => model.PadreNombre)
        <br />
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.OcultarEnDesktop)
        @Html.DisplayFor(model => model.OcultarEnDesktop)
        <br />
    </div>
</div>


